In [1]:
import pandas as pd

In [10]:
df_transactions = pd.read_csv('/Users/k/Documents/TUC/DataQuality/python-bank-project-start/data/transactions.csv')

/var/folders/4l/gfjlj22s475gkdvzzlfg1v0m0000gn/T/ipykernel_85970/3225109622.py:1: DtypeWarning: Columns (2) have mixed types. Specify dtype option on import or set low_memory=False.
  df_transactions = pd.read_csv('/Users/k/Documents/TUC/DataQuality/python-bank-project-start/data/transactions.csv')

In [ ]:
df_transactions['timestamp'] = pd.to_datetime(df_transactions['timestamp'], errors='coerce')
print(df_transactions[df_transactions['timestamp'].isna()])

                            transaction_id timestamp    amount currency  \
372   e13b1664-c549-4f92-895a-1f941dd6d82e       NaT  12881.63      SEK
374   7bfcf599-e449-4e63-a3f9-05631511e58a       NaT  20223.17      SEK
432   b75a64f1-d111-4261-9df0-53f2c38e2828       NaT  45069.28      SEK
566   bc91f1d3-e0b0-471b-844f-7e14941d3236       NaT   9908.07      SEK
658   e4ec0cfc-55e8-4ca1-b3f4-0948a1b8e997       NaT   3080.18      SEK
661   13638365-972b-4fd8-9518-f27557a7e1cd       NaT  34157.12      SEK
761   fda4c622-1044-49aa-bc41-b44bdd50bc9c       NaT   2192.15      SEK
814   bc23bd09-5b6a-4ebe-95ae-7dad0cde315a       NaT  21899.83      SEK
817   9687e5ce-f8e0-4afa-ac0c-54d8c6ef457f       NaT  36969.56      SEK
821   aee31e4c-e8c1-4fa5-b8bf-53815ab51b55       NaT   39794.0      SEK
866   f46345d0-c1f8-46d7-ae78-47c4a6b52fee       NaT   9573.92      SEK
876   2f48c8d5-cad7-48b0-8f8c-2f1324911dfd       NaT  34373.92      SEK
884   776cbccf-2d92-4e83-a702-6b6261fa7de0       NaT  46318.06      SEK
911   2452bd7a-a1b4-425d-a9e1-a6299edbc458       NaT  31961.53      SEK
913   bf0e480f-3993-4f19-99c3-8e223bd1cada       NaT   6091.76      SEK
1428  99ca438b-d55e-4ba4-b6fc-c353cc5d810b       NaT  22074.32      SEK

                sender_account          receiver_account sender_country  \
372   SE8902IOSH72112913547339  SE8902EXDO77351409949930         Sweden
374   SE8902UEXU77157980119965  SE8902EMWA07310860593299         Sweden
432   SE8902PBIW30011757227628  SE8902SZWO66860675966705         Sweden
566   SE8902HEXR67420014606110  SE8902PBIW30011757227628         Sweden
658   SE8902RXEO54698137995629  SE8902PXQH61449282091685         Sweden
661   SE8902XMWU73408358252236  SE8902HPKQ79721411987869            NaN
761   SE8902KSGF71738325166005  SE8902SWFR35893590471977         Sweden
814   SE8902GPFA36799720094528  SE8902AEOP68872744631879         Sweden
817   SE8902ZKDX10421013051508  SE8902ZQHA53957175041781         Sweden
821   SE8902FIYI65713456085419  SE8902RNER71700945656875         Sweden
866   SE8902NFSW96446848690649  SE8902IFPV72140679061770         Sweden
876   SE8902AEQJ97044224731438  SE8902FZSE04507369196975         Sweden
884   SE8902JZYF06547820263799  SE8902IBRL73514393853709         Sweden
911   SE8902IGFR09709190696891  SE8902GTCY42439402519574         Sweden
913   SE8902IILS20920256766703  SE8902WGYQ69186751021705         Sweden
1428  SE8902APWS33564004625903  SE8902MVZJ65066103207787         Sweden

     sender_municipality receiver_country receiver_municipality  \
372           Norrköping           Sweden            Trelleborg
374         Kristianstad           Sweden                 Luleå
432             Göteborg           Sweden               Lidingö
566           Karlskrona           Sweden              Göteborg
658            Sundsvall           Sweden             Uddevalla
661                Malmö           Sweden                 Luleå
761                 Lund           Sweden                  Umeå
814            Uddevalla           Sweden                 Borås
817            Jönköping           Sweden                Motala
821             Alingsås           Sweden             Linköping
866                Malmö           Sweden              Borlänge
876             Halmstad           Sweden             Sandviken
884              Lidingö           Sweden                 Luleå
911                  NaN           Sweden             Sandviken
913                Luleå           Sweden            Södertälje
1428             Lidingö           Sweden                 Falun

     transaction_type                      notes
372          incoming             Loan repayment
374          incoming             Loan repayment
432          incoming  Payment for invoice #3222
566          incoming              Rent transfer
658          incoming           Insurance payout
661          outgoing  Payment for invoice #8946
761          incoming               Utility bill
814          outgoing            Online purchase
817          incoming               Utility bill
821          outgoing            Mobile recharge
866          incoming                 Tax refund
876          outgoing  Payment for invoice #9893
884          incoming            Mobile recharge
911          incoming            Mobile recharge
913          incoming      Gift to family member
1428         incoming            Online purchase

In [11]:
print(df_transactions.dtypes)

transaction_id           object
timestamp                object
amount                   object
currency                 object
sender_account           object
receiver_account         object
sender_country           object
sender_municipality      object
receiver_country         object
receiver_municipality    object
transaction_type         object
notes                    object
dtype: object

In [ ]:
df_transactions['dtypechange_amount'] = (
    df_transactions['amount']
    .astype(str) ## vi ser till så att alla värden är i string datatyp
    .str.replace(" ", "", regex=False) ## ta bort ifall det finns några mellanrum
    .str.replace(",", ".", regex=False) ## ta bort ifall det finns några tecken emellan 
    ## regex används för att tolka rätt för " ", alltså att det ej är ett mönster utan ett mellanslag
    ## används alltså för att python skall tolka rätt till att dessa är strängar och ej regex-mönster
)
df_transactions['dtypechange_amount'] = pd.to_numeric(df_transactions['dtypechange_amount'], errors='coerce') ## byter datatypen på amount till float
                                                                                                                ## coerce hjälper till att ändra de värden so ej är strings till NaN

In [18]:
print(df_transactions.dtypes) ## dubbelkollar vi ifall ändringen skett

transaction_id            object
timestamp                 object
amount                    object
currency                  object
sender_account            object
receiver_account          object
sender_country            object
sender_municipality       object
receiver_country          object
receiver_municipality     object
transaction_type          object
notes                     object
dtypechange_amount       float64
dtype: object

In [ ]:
print(df_transactions.isnull().sum())

transaction_id              0
timestamp                  16
amount                      0
currency                    0
sender_account              0
receiver_account            0
sender_country            500
sender_municipality       500
receiver_country          500
receiver_municipality     500
transaction_type            0
notes                    9982
dtype: int64

In [5]:
df_customers = pd.read_csv('/Users/k/Documents/TUC/DataQuality/python-bank-project-start/data/sebank_customers_with_accounts.csv')

In [6]:
print(df_customers.isnull().sum())

Customer        0
Address         0
Phone           0
Personnummer    0
BankAccount     0
dtype: int64

In [19]:
df_customer = pd.read_csv("/Users/k/Documents/TUC/DataQuality/python-bank-project-start/sebank_merged_data.csv")

In [20]:
print(df_customer.dtypes)

Customer        object
Address         object
Phone           object
Personnummer    object
BankAccount     object
dtype: object