In [3]:
import pandas as pd

In [4]:
df = pd.read_csv('/Users/macbook/Desktop/python-bank-projekt_start/data/transactions.csv')

/var/folders/mw/gc5gfz857cnd6xm3mfgw57l00000gn/T/ipykernel_65608/2992974062.py:1: DtypeWarning: Columns (2) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('/Users/macbook/Desktop/python-bank-projekt_start/data/transactions.csv')

1. Börja med att kontrollera Accuracy

In [ ]:
## Kontrollerar datumformaten och försöker konvertera till datetime, samt fånga fel.
df['timestamp'] = pd.to_datetime(df['timestamp'], errors='coerce') ## hämtar 'timestamp' i DF samt försöker konvertera värdena till datetime.
print(df[df['timestamp'].isna()]) ## skriver ut de antalet rader där datumet inte kunde tolkas

                            transaction_id timestamp    amount currency  \
372   e13b1664-c549-4f92-895a-1f941dd6d82e       NaT  12881.63      SEK
374   7bfcf599-e449-4e63-a3f9-05631511e58a       NaT  20223.17      SEK
432   b75a64f1-d111-4261-9df0-53f2c38e2828       NaT  45069.28      SEK
566   bc91f1d3-e0b0-471b-844f-7e14941d3236       NaT   9908.07      SEK
658   e4ec0cfc-55e8-4ca1-b3f4-0948a1b8e997       NaT   3080.18      SEK
661   13638365-972b-4fd8-9518-f27557a7e1cd       NaT  34157.12      SEK
761   fda4c622-1044-49aa-bc41-b44bdd50bc9c       NaT   2192.15      SEK
814   bc23bd09-5b6a-4ebe-95ae-7dad0cde315a       NaT  21899.83      SEK
817   9687e5ce-f8e0-4afa-ac0c-54d8c6ef457f       NaT  36969.56      SEK
821   aee31e4c-e8c1-4fa5-b8bf-53815ab51b55       NaT   39794.0      SEK
866   f46345d0-c1f8-46d7-ae78-47c4a6b52fee       NaT   9573.92      SEK
876   2f48c8d5-cad7-48b0-8f8c-2f1324911dfd       NaT  34373.92      SEK
884   776cbccf-2d92-4e83-a702-6b6261fa7de0       NaT  46318.06      SEK
911   2452bd7a-a1b4-425d-a9e1-a6299edbc458       NaT  31961.53      SEK
913   bf0e480f-3993-4f19-99c3-8e223bd1cada       NaT   6091.76      SEK
1428  99ca438b-d55e-4ba4-b6fc-c353cc5d810b       NaT  22074.32      SEK

                sender_account          receiver_account sender_country  \
372   SE8902IOSH72112913547339  SE8902EXDO77351409949930         Sweden
374   SE8902UEXU77157980119965  SE8902EMWA07310860593299         Sweden
432   SE8902PBIW30011757227628  SE8902SZWO66860675966705         Sweden
566   SE8902HEXR67420014606110  SE8902PBIW30011757227628         Sweden
658   SE8902RXEO54698137995629  SE8902PXQH61449282091685         Sweden
661   SE8902XMWU73408358252236  SE8902HPKQ79721411987869            NaN
761   SE8902KSGF71738325166005  SE8902SWFR35893590471977         Sweden
814   SE8902GPFA36799720094528  SE8902AEOP68872744631879         Sweden
817   SE8902ZKDX10421013051508  SE8902ZQHA53957175041781         Sweden
821   SE8902FIYI65713456085419  SE8902RNER71700945656875         Sweden
866   SE8902NFSW96446848690649  SE8902IFPV72140679061770         Sweden
876   SE8902AEQJ97044224731438  SE8902FZSE04507369196975         Sweden
884   SE8902JZYF06547820263799  SE8902IBRL73514393853709         Sweden
911   SE8902IGFR09709190696891  SE8902GTCY42439402519574         Sweden
913   SE8902IILS20920256766703  SE8902WGYQ69186751021705         Sweden
1428  SE8902APWS33564004625903  SE8902MVZJ65066103207787         Sweden

     sender_municipality receiver_country receiver_municipality  \
372           Norrköping           Sweden            Trelleborg
374         Kristianstad           Sweden                 Luleå
432             Göteborg           Sweden               Lidingö
566           Karlskrona           Sweden              Göteborg
658            Sundsvall           Sweden             Uddevalla
661                Malmö           Sweden                 Luleå
761                 Lund           Sweden                  Umeå
814            Uddevalla           Sweden                 Borås
817            Jönköping           Sweden                Motala
821             Alingsås           Sweden             Linköping
866                Malmö           Sweden              Borlänge
876             Halmstad           Sweden             Sandviken
884              Lidingö           Sweden                 Luleå
911                  NaN           Sweden             Sandviken
913                Luleå           Sweden            Södertälje
1428             Lidingö           Sweden                 Falun

     transaction_type                      notes
372          incoming             Loan repayment
374          incoming             Loan repayment
432          incoming  Payment for invoice #3222
566          incoming              Rent transfer
658          incoming           Insurance payout
661          outgoing  Payment for invoice #8946
761          incoming               Utility bill
814          outgoing            Online purchase
817          incoming               Utility bill
821          outgoing            Mobile recharge
866          incoming                 Tax refund
876          outgoing  Payment for invoice #9893
884          incoming            Mobile recharge
911          incoming            Mobile recharge
913          incoming      Gift to family member
1428         incoming            Online purchase

2. Completeness

In [ ]:
## Tar jag fram antalet saknade värden för varje kolumn
print(df.isnull().sum())

transaction_id              0
timestamp                  16
amount                      0
currency                    0
sender_account              0
receiver_account            0
sender_country            500
sender_municipality       500
receiver_country          500
receiver_municipality     500
transaction_type            0
notes                    9982
dtype: int64

3. Consistency

In [7]:
## Ser duplicerade kontonummer, samma kontonummer bör inte skicka pengar till sig själv (men kan). 

transactions_to_self = df[df['sender_account'] == df['receiver_account']]
print("Självtransaktioner (avsändare = mottagare):")
print(transactions_to_self)

Självtransaktioner (avsändare = mottagare):
                            transaction_id           timestamp    amount  \
1173  c77b342e-4bec-401f-9659-02985f095f32 2025-02-14 11:53:00   28393.7
2444  2f25f6ea-0bcb-4783-8c35-2caf5ee8192d 2025-04-22 17:37:00  33954.38
2464  32f7a63c-2d8c-4bd1-9fe7-57c9bb8db968 2025-03-05 07:43:00  16237.38
2912  d6801ff1-e9f2-460f-81fd-fb19a8912261 2025-05-11 03:47:00  14815.11
3380  fece0013-1580-45a3-95fb-bad46bd23e7f 2025-04-14 15:44:00    897.27
3768  adb1f378-252a-4788-8384-5558d2fd63d4 2025-02-19 12:31:00  27899.96
3786  55e1e8f9-d7ca-4bec-adbf-c87105ad0ddb 2025-03-05 19:44:00  18522.75
4617  455ab658-24fe-40bc-bfa7-01f7a614992e 2025-03-17 10:20:00   8128.81
4943  0710c4b3-4a07-40ea-9a3a-e936b6fd2573 2025-01-10 21:12:00  29136.28
5151  817e2f88-c57f-4901-8556-4e1a41077523 2025-02-11 06:10:00  16236.31
6805  2237381c-947c-42ed-8736-7a1240a88959 2025-03-30 02:53:00  15061.68
6844  7aa57987-741e-4018-8a33-37936e7c86cb 2025-01-08 00:47:00  34929.99
7211  6d75a501-8c31-497a-b374-c609579d74d9 2025-03-19 17:10:00  48859.81
8603  482ef2d0-f987-4b7b-a43b-03833e61b208 2023-06-13 06:29:00  30711.11
8869  3189593f-f2f3-426c-902a-8e50a3a6b7c1 2025-05-02 22:27:00  42522.71
9683  d3273b00-2768-4a57-a1fd-b7d9432b67d4 2025-02-28 04:03:00  22659.13

     currency            sender_account          receiver_account  \
1173      SEK  SE8902ZLSU38152589670591  SE8902ZLSU38152589670591
2444      SEK  SE8902WWNV14831174045632  SE8902WWNV14831174045632
2464      SEK  SE8902QBJU48285545311827  SE8902QBJU48285545311827
2912      SEK  SE8902PJLT23740498738943  SE8902PJLT23740498738943
3380      SEK  SE8902FBYZ81516210215906  SE8902FBYZ81516210215906
3768      SEK  SE8902UJMZ79242324287202  SE8902UJMZ79242324287202
3786      SEK  SE8902TVVW36796985465424  SE8902TVVW36796985465424
4617      SEK  SE8902STGX47356996647044  SE8902STGX47356996647044
4943      SEK  SE8902HONR88805902495744  SE8902HONR88805902495744
5151      SEK  SE8902HHIF82963758493406  SE8902HHIF82963758493406
6805      SEK  SE8902RYKE86473925510810  SE8902RYKE86473925510810
6844      SEK  SE8902FVVV61614688034328  SE8902FVVV61614688034328
7211      SEK  SE8902LBEJ82420799986072  SE8902LBEJ82420799986072
8603      SEK  SE8902UBCU90744779272095  SE8902UBCU90744779272095
8869      SEK  SE8902WPHL32329175684552  SE8902WPHL32329175684552
9683      SEK  SE8902DSQM48924442124429  SE8902DSQM48924442124429

     sender_country sender_municipality receiver_country  \
1173         Sweden          Norrköping           Sweden
2444         Sweden           Jönköping           Sweden
2464         Sweden         Trollhättan           Sweden
2912         Sweden               Piteå           Sweden
3380         Sweden        Örnsköldsvik           Sweden
3768         Sweden           Linköping           Sweden
3786         Sweden               Falun           Sweden
4617         Sweden           Sundsvall           Sweden
4943         Sweden               Malmö           Sweden
5151         Sweden          Norrköping           Sweden
6805         Sweden           Sandviken           Sweden
6844         Sweden        Kristianstad           Sweden
7211         Sweden           Uddevalla           Sweden
8603         Sweden           Karlskoga           Sweden
8869         Sweden           Stockholm           Sweden
9683         Sweden               Växjö           Sweden

     receiver_municipality transaction_type                      notes
1173                 Luleå         incoming           Insurance payout
2444                Motala         incoming               Utility bill
2464              Karlstad         outgoing            Online purchase
2912          Örnsköldsvik         incoming              Rent transfer
3380               Mölndal         incoming                 Tax refund
3768            Skellefteå         outgoing           Insurance payout
3786             Linköping         incoming           Subscription fee
4617            Södertälje         incoming              Rent transfer
4943              Västerås         outgoing   Reimbursement for travel
5151              Karlstad         incoming           Insurance payout
6805             Sundsvall         incoming                 Tax refund
6844             Sandviken         outgoing  Payment for invoice #1219
7211             Uddevalla         outgoing  Payment for invoice #1704
8603             Östersund         incoming  Freelance project payment
8869              Halmstad         incoming             Loan repayment
9683               Mölndal         outgoing           Insurance payout

4. Timeliness

In [8]:
## Tar reda på om det finns framtida transaktioner. 

from datetime import datetime
future_transactions = df[df['timestamp'] > pd.Timestamp(datetime.now())]
print(f"Antal framtida transaktioner: {len(future_transactions)}")

Antal framtida transaktioner: 810

5. Uniqueness

In [9]:
duplicated_rows = df[df.duplicated()]
print(f"Antal helt dubbletterade rader: {len(duplicated_rows)}")

Antal helt dubbletterade rader: 0

6. Validity

In [10]:
## Tar reda på om timestamp följer mönster samt ska vara korrekt

df['timestamp'] = pd.to_datetime(df['timestamp'], errors='coerce')
invalid_date_stamp = df[df['timestamp'].isna()]
print("Ogiltiga datumformat:")
print(invalid_date_stamp[['transaction_id', 'timestamp']])

Ogiltiga datumformat:
                            transaction_id timestamp
372   e13b1664-c549-4f92-895a-1f941dd6d82e       NaT
374   7bfcf599-e449-4e63-a3f9-05631511e58a       NaT
432   b75a64f1-d111-4261-9df0-53f2c38e2828       NaT
566   bc91f1d3-e0b0-471b-844f-7e14941d3236       NaT
658   e4ec0cfc-55e8-4ca1-b3f4-0948a1b8e997       NaT
661   13638365-972b-4fd8-9518-f27557a7e1cd       NaT
761   fda4c622-1044-49aa-bc41-b44bdd50bc9c       NaT
814   bc23bd09-5b6a-4ebe-95ae-7dad0cde315a       NaT
817   9687e5ce-f8e0-4afa-ac0c-54d8c6ef457f       NaT
821   aee31e4c-e8c1-4fa5-b8bf-53815ab51b55       NaT
866   f46345d0-c1f8-46d7-ae78-47c4a6b52fee       NaT
876   2f48c8d5-cad7-48b0-8f8c-2f1324911dfd       NaT
884   776cbccf-2d92-4e83-a702-6b6261fa7de0       NaT
911   2452bd7a-a1b4-425d-a9e1-a6299edbc458       NaT
913   bf0e480f-3993-4f19-99c3-8e223bd1cada       NaT
1428  99ca438b-d55e-4ba4-b6fc-c353cc5d810b       NaT

1. hur många unique accounts.

In [ ]:
unique_senders = df['sender_account'].nunique()
unique_receivers = df['receiver_account'].nunique()

print(f"Unika avsändarkonton: {unique_senders}")
print(f"Unika mottagarkonton: {unique_receivers}")

Unika avsändarkonton: 43476
Unika mottagarkonton: 48524

In [11]:
df['timestamp'] = pd.to_datetime(df['timestamp'])

first_date = df['timestamp'].min()
last_date = df['timestamp'].max()

print(f"Första transaktionen: {first_date}")
print(f"Sista transaktionen:  {last_date}")

Första transaktionen: 2022-04-17 01:00:00
Sista transaktionen:  2026-05-16 04:25:00

In [13]:
# Kombinera alla konton
all_accounts = pd.concat([df['sender_account'], df['receiver_account']])
account_counts = all_accounts.value_counts()

rare_accounts = account_counts[account_counts == 1]
print(f"Antal konton som används exakt 1 gång: {len(rare_accounts)}")
print(rare_accounts)

Antal konton som används exakt 1 gång: 90000
GB51VVFK25160287225693    1
GB32AABH83046049290014    1
GB81OEKN75585391631131    1
GB43QMEV86896805847999    1
GB95QADJ85843857143990    1
                         ..
GB66JZIP86811770875967    1
GB61QOKX66684861584346    1
GB56ODJW99788894272788    1
GB92DQVC61241556119269    1
GB53LASR90629371711664    1
Name: count, Length: 90000, dtype: int64

In [39]:
frequent_accounts = account_counts[account_counts > 100]
print(f"Antal konton med fler än 100 transaktioner: {len(frequent_accounts)}")

Antal konton med fler än 100 transaktioner: 680

In [40]:
print(account_counts.head(10))

SE8902SBJA55969190091622    320
SE8902JWUP15793818606310    307
SE8902EXIB33653688394695    304
SE8902XNNG22633901157104    236
SE8902WAUN43737771587933    231
SE8902UZFC35584103012440    223
SE8902ENIP08812598160608    221
SE8902TJBY61470456909170    221
SE8902SPDW36248491049541    217
SE8902CZCK70016925304587    217
Name: count, dtype: int64

In [14]:
summary = {
    "First date": df['timestamp'].min(),
    "Last date": df['timestamp'].max(),
    "Total unique accounts": all_accounts.nunique(),
    "Rare accounts (used once)": (account_counts == 1).sum(),
    "Accounts with >100 transactions": (account_counts > 100).sum()
}

for k, v in summary.items():
    print(f"{k}: {v}")

First date: 2022-04-17 01:00:00
Last date: 2026-05-16 04:25:00
Total unique accounts: 91000
Rare accounts (used once): 90000
Accounts with >100 transactions: 680

In [15]:
swedish_transactions = df[(df['sender_country'] == 'Sweden') & (df['receiver_country'] == 'Sweden')]
print(f"Antal transaktioner inom Sverige: {len(swedish_transactions)}")

Antal transaktioner inom Sverige: 56105

In [46]:
df['amount'] = pd.to_numeric(df['amount'], errors='coerce')

In [48]:
total_outgoing = df[df['transaction_type'] == 'outgoing']['amount'].sum()
total_incoming = df[df['transaction_type'] == 'incoming']['amount'].sum()

print(f"Totalt ut: {total_outgoing:.2f} {df['currency'].iloc[0]}")
print(f"Totalt in: {total_incoming:.2f} {df['currency'].iloc[0]}")

if total_outgoing > total_incoming:
    print("Mer pengar har skickats ut än tagits emot.")
elif total_outgoing < total_incoming:
    print("Mer pengar har tagits emot än skickats ut.")
else:
    print("Lika mycket har skickats ut som tagits emot.")

Totalt ut: 1195467696.59 SEK
Totalt in: 1185184425.82 SEK
Mer pengar har skickats ut än tagits emot.